body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
    background-image: url('jpg/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    
}

header {
    background-color: #333;
    color: #0dd6c8;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #d31717;
    text-decoration: none;
}

main {
    padding: 10px;
}

section {
    margin-bottom: 10px;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
